@media screen and (min-width: 768px) {
    .top-nav[b-9i9cc14g89] {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .logo-container[b-9i9cc14g89] {
        display: flex;
        align-items: center;
    }

    .logo[b-9i9cc14g89] {
        max-width: 40px;
        height: auto;
        margin-right: 10px;
    }

    .brand-name[b-9i9cc14g89] {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .nav-buttons[b-9i9cc14g89] {
        display: flex;
    }

    .nav-button[b-9i9cc14g89] {
        background: none;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin: 0 10px;
        cursor: pointer;
    }

        .nav-button:hover[b-9i9cc14g89] {
            color: #ff5733; /* Change the color on hover */
        }

    .additional-content[b-9i9cc14g89] {
        /* Add styles for additional content or buttons */
    }

    .burger-menu[b-9i9cc14g89] {
        display: none;
    }

    .menu-buttons[b-9i9cc14g89] {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .top-nav[b-9i9cc14g89] {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .brand-name[b-9i9cc14g89] {
        font-size: 1.5rem;
        font-weight: bold;
    }



    .nav-buttons[b-9i9cc14g89] {
        display: none;
    }

    .burger-menu[b-9i9cc14g89] {
        display: flex;
    }

    .menu-buttons[b-9i9cc14g89] {
        display: none;
    }
        .menu-buttons.open[b-9i9cc14g89] {
            background-color: #333;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.4s;
        }
    .nav-button[b-9i9cc14g89] {
        background: none;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin: 10px 10px;
        cursor: pointer;
    }
    .nav-button:hover[b-9i9cc14g89] {
        color: #ff5733; /* Change the color on hover */
    }
}


.burger-menu[b-9i9cc14g89] {
    cursor: pointer;
    //display: flex;
    flex-direction: column;
}

.bar[b-9i9cc14g89] {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

/* Styles for the open state of the burger menu */
.burger-menu.open .bar:nth-child(1)[b-9i9cc14g89] {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.burger-menu.open .bar:nth-child(2)[b-9i9cc14g89] {
    opacity: 0;
}

.burger-menu.open .bar:nth-child(3)[b-9i9cc14g89] {
    transform: rotate(45deg) translate(-7px, -7px);
}
